* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  color: white;
  font-family: 'Rubik', sans-serif;
}

.header {
  margin-top: 20px;
  text-align: center;
  height: 90px;
  width: 100%;
  align-items: center;
  display: flex;
  text-shadow: 2px 1px 3px rgb(78, 78, 78);
  justify-content: center;
  font-size: 1.5rem;
}

.titlePlanetas {
  text-shadow: 1px 1px 3px gray;
  font-size: 2rem;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.cardPlanet {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.imgPlanet {
  width: 150px;
}

.divSolar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divPlanetName {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  text-shadow: 1px 1px 1px gray;
  font-size: 1.1rem;
  padding: 8px;
}

.divPaiMission {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.missionsCard {
  display: flex;
  flex-direction: column;
}

.divMission {
  background-color: rgba(13, 12, 20, 0.514);
  margin: 5px;
  width: 25%;
  display: flex;
  padding: 15px;
  align-items: center;
  flex-direction: column;
  font-size: 1.1rem;
  justify-content: center;
  line-height: 25px;
  text-align: center;
}

.nameMission {
  font-weight: 700;
}
